#main
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    color: white;
    background-color:cornflowerblue;
}

#heading1
{
    color:black;
}

#img1
{
    size: 0mm;
}

#Signup
{
    color: black;
}
#About
{
    color: black;
}
#Products
{
    color: black;
}
#Pricing
{
    color: black;
}
#Support
{
    color: black;
}